# Free key from https://fred.stlouisfed.org/docs/api/api_key.html
FRED_API_KEY="x"
SEC_USER_AGENT=x
OPENAI_API_KEY=x

FMP_API_KEY_alar=64r6R5xXmMxl6OWWzjLaFQZafNVZqHvDz
FMP_API_KEY_gardon=x
FMP_API_KEY_bcg=xxx

OPENFIGI_API_KEY=xxx

#### database creds 
POSTGRES_USER=xxxx
POSTGRES_DB=pea
POSTGRES_PASSWORD=xxxx
POSTGRES_PORT=xxx
